:root {
    --color1: #BE6614;
    --color2: #FAB87A;
    --color-linea: red;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
    background-color: var(--color1);
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background-color: var(--color2);
}

h1 {
    text-align: center;
}


h2{
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
    border: none; 
}

td {
    width: 150px;
    height: 150px;
    border: 4px solid black;
    text-align: center;
    padding: 0;
}

tr:first-child td {
    border-top: none;
}
tr:last-child td {
    border-bottom: none;
}
td:first-child {
    border-left: none;
}
td:last-child {
    border-right: none;
}

input[type="button"] {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent; 
    cursor: pointer;
    font-size: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}


select {
    font-size: 16px;
    padding: 5px;
    margin-top: 10px;
}

#tablero-container {
    position: relative; 
    display: inline-block;
}

.linea-ganadora {
    position: absolute;
    height: 4px;
    background-color: var(--color-linea);
    transform-origin: left center -20px; 
    z-index: 10;
    border-radius: 2px;
}
